.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
}

label {
    font-weight: bold;
}

input[type=text], input[type=email], input[type=tel] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    box-sizing: border-box;
    border: 1px solid #958d8d;
    border-radius: 4px;
}

button {
    background-color: #8c988c;
    color: rgb(139, 114, 114);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

button:hover {
    background-color: #45a049;
}